<div class="row"><div id="demo-list-1" class="6u 12u(mobile)">

      <section id="demo-370" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1><span class="demo-title">Hierarchic Language Abstractions Model</span></h1>
            <img src="370.png" alt="Hierarchic Language Abstractions Model" />
            <h2>Tomas Trescak and Juan Antonio Rodriguez Aguilar</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 3: 11UTC</li><li>Day 3: 24UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://youtu.be/Ut7uDlgJY8k">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_370.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984503">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-374" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1><span class="demo-title">ProSeqqo: Open-source Solver for Robotic Task Sequencing</span></h1>
            <img src="374.png" alt="ProSeqqo: Open-source Solver for Robotic Task Sequencing" />
            <h2>László Zahorán and Andras Kovacs</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 2: 18UTC</li><li>Day 4: 11UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/13FkZSIImSUfiRqqxUSz84oH33HPRiEnR/preview">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_374.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984504">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-375" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1><span class="demo-title">CALDERA: A Red-Blue Cyber Operations Automation Platform</span></h1>
            <img src="375.png" alt="CALDERA: A Red-Blue Cyber Operations Automation Platform" />
            <h2>Ron Alford, Dean Lawrence and Michael Kouremetis</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 2: 18UTC</li><li>Day 2: 24UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/1ogbLXPH1JZCbpruNrJpIeDGDz_Epl1b8/preview">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_375.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984505">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-376" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1><span class="demo-title">Planning Tech for Planning Pedagogy</span></h1>
            <img src="376.png" alt="Planning Tech for Planning Pedagogy" />
            <h2>Alex Coulter, Teo Ilie, Renee Tibando and Christian Muise</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 2: 18UTC</li><li>Day 2: 24UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/14zcfnL3tIOgwM92X8EewaImkdND5Pw7M/preview">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_376.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984506">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-377" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1>(<span style="color:red"><a href="/awards#demo">2nd Place</a></span>) <span class="demo-title">Planutils: Bringing Planning to the Masses</span></h1>
            <img src="377.png" alt="Planutils: Bringing Planning to the Masses" />
            <h2>Christian Muise, Florian Pommerening, Jendrik Seipp and Michael Katz</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 3: 11UTC</li><li>Day 3: 24UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/1jRL75lqHkWPMaODY7pFHkigGTWlcXg-F/view?usp=sharing">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_377.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984507">Demo</a>
          </div>
        </div>
      </section>

</div><div id="demo-list-2" class="6u 12u(mobile)">

      <section id="demo-378" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1><span class="demo-title">MACQ: A Unified Library for Action Model Acquisition</span></h1>
            <img src="378.png" alt="MACQ: A Unified Library for Action Model Acquisition" />
            <h2>Ethan Callanan, Rebecca De Venezia, Victoria Armstrong, Alison Paredes, Jungkoo Kang, Tathagata Chakraborti and Christian Muise</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 3: 11UTC</li><li>Day 3: 24UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/1f3R6OnXcZZV8yytf_UEVgnJGccbjp47X/preview">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_378.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984508">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-379" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1>(<span style="color:red"><a href="/awards#demo">3rd Place</a></span>) <span class="demo-title">Unified Planning: A Python Library Making Planning Technology Accessible</span></h1>
            <img src="379.png" alt="Unified Planning: A Python Library Making Planning Technology Accessible" />
            <h2>Andrea Micheli, Alexandre Arnold, Arthur Bit-Monnot, Luigi Bonassi, Luca Framba, Alfonso Gerevini, Selvakumar Hastham Sathiya Satchi, Malte Helmert, Félix Ingrand, Luca Iocchi, Uwe Köckemann, Oscar Lima, Fabio Patrizi, Federico Pecora, Guillaume Poveda, Gabriele Röger, Alessandro Saetti, Alessandro Saffiotti, Enrico Scala, Ivan Serina, Sebastian Stock, Florent Teichteil-Koenigsbuch, Alessandro Trapasso, Paolo Traverso and Alessandro Valentini</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 1: 11UTC</li><li>Day 1: 18UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/1Mgi1ztFn51CVdzYHY34ys_1DEhjXjpxE/view?usp=sharing">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_379.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984509">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-381" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1><span class="demo-title">Plan Visualisation with PDSim</span></h1>
            <img src="381.png" alt="Plan Visualisation with PDSim" />
            <h2>Emanuele De Pellegrin and Ron Petrick</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 2: 18UTC</li><li>Day 4: 11UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/1uE0LIQSUfDwRjQZjaZsNx1rZRbPS8yt5/preview">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_381.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984510">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-382" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1>(<span style="color:red"><a href="/awards#demo">1st Place</a></span>) <span class="demo-title">Machetli: Simplifying Input Files for Debugging</span></h1>
            <img src="382.png" alt="Machetli: Simplifying Input Files for Debugging" />
            <h2>Lucas Galery Käser, Clemens Büchner, Augusto B. Corrêa, Florian Pommerening and Gabriele Röger</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 1: 11UTC</li><li>Day 1: 18UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/1wNClAFshyqJX_KrqSGq9dn9hAGpg6le6/preview">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_382.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984511">Demo</a>
          </div>
        </div>
      </section>


      <section id="demo-384" class="demo">
        <div class="row">
          <div class="12u 12u(mobile)">
            <h1><span class="demo-title">MAES, a Realistic Simulator for Multi Agent Exploration and Coverage</span></h1>
            <img src="384.png" alt="MAES, a Realistic Simulator for Multi Agent Exploration and Coverage" />
            <h2>Malte Zoëga Andreasen, Philip Irming Holler, Magnus Kirkegaard Jensen and Michele Albano</h2>
            <h3>Scheduled Sessions</h3>
            <ul><li>Day 1: 11UTC</li><li>Day 1: 18UTC</li></ul>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://drive.google.com/file/d/1lSLfy-IOAQyGvKCvi31gKYbNmn25Kfza/preview">Poster</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="ICAPS_2022_paper_384.pdf">Paper</a>
            <a style="margin-left: 10px" class="button float-right-button"
                href="https://slideslive.com/38984512">Demo</a>
          </div>
        </div>
      </section>

</div></div>
